<div class="table-responsive">
	<h3>{{ @i18n_schema }}  <a href="{{ @breadcrumbs }}/new"><i class="bi-plus"></i></a></h3>	
	<check if="{{@isMobile==0}}">
	<true>
		<table class="table-responsive table-hover table-striped table-bordered" id="list" style="width:95%; margin-left:10px;">
			<thead>
				<tr class="bg-secondary">
					<th scope="col">section</th>
					<th scope="col">type</th>
					<th scope="col">label</th>
					<th scope="col">name</th>
					<th scope="col">id</th>
                    <th scope="col">length</th>
                    <th scope="col">required</th>
                    <th scope="col">value</th>
                    <th scope="col">class</th>
					<th scope="col">style</th>
					<th scope="col">event</th>
                    <th scope="col">function</th>
					<th scope="col">placeholder</th>
					<th scope="col">order</th>
					<th scope="col"></th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @schema }}" value="{{ @fields }}">
			<tr >
				<td onclick="window.document.location='{{ @breadcrumbs }}/{{ @fields.id }}';" style="cursor: pointer;">{{ @fields._section }}</td>
				<td>{{ @fields._type }}</td>
				<td>{{ @fields._label }}</td>
				<td>{{ @fields._name }}</td>
				<td>{{ @fields._idx }}</td>
                <td>{{ @fields._length }}</td>
                <td>{{ @fields._required }}</td>
                <td>{{ @fields._value }}</td>
                <td>{{ @fields._class }}</td>
				<td>{{ @fields._style }}</td>
				<td>{{ @fields._event }}</td>
                <td>{{ @fields._function }}</td>
				<td>{{ @fields._placeholder }}</td>
				<td>{{ @fields._order }}</td>
				<td><a href="{{ @breadcrumbs }}/delete/{{ @fields.id }}"><i class="bi-trash"></i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>		
	</true>
	<false>
		<table class="table-responsive table-hover table-striped table-bordered" id="list" style="width:95%; margin-left:10px;">
			<thead>
				<tr class="bg-secondary">
					<th scope="col">section</th>
					<th scope="col">order</th>
					<th scope="col">label/id/type</th>
					<th scope="col"></th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @schema }}" value="{{ @fields }}">
			<tr >
				<td onclick="window.document.location='/admin/structure/{{ @fields.id }}';" style="cursor: pointer;">{{ @fields._section }}</td>
				<td align="center">{{ @fields._order }}</td>
				<td>{{ @fields._label }}<br>{{ @fields._idx }}<br>{{@@fields._type}}</td>
				<td><a href="{{ @breadcrumbs }}/delete/{{ @fields.id }}"><i class="bi-trash"></i></a></td>
			</tr>	
		</repeat>
		</tbody>
		</table>	
	</false>
	</check>
</div>

