<div class="w3-container">
<h3><a href="/admin/apps"><i class="material-symbols-outlined">arrow_back</i></a> 
{{ @i18n_schema }}  &nbsp; 
<a href="{{ @breadcrumbs }}/new"><i class="material-symbols-outlined">add</i></a></h3>	
	<check if="{{@isMobile==0}}">
	<true>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
				<tr class="w3-deep-orange"">
					<th></th>
					<th>section</th>
					<th>type</th>
					<th>SQL type</th>
					<th>label</th>
					<th>name</th>
					<th>id</th>
					<th>length</th>
					<th>required</th>
					<th>value</th>
					<th>class</th>
					<th>style</th>
					<th>event</th>
					<th>function</th>
					<th>placeholder</th>
					<th>joins</th>
					<th>order</th>
					<th>visible</th>
					<th>mobile</th>
					<th></th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @schema }}" value="{{ @fields }}">
			<tr >
				<check if="{{ @fields._section != 'menus'}}">
				<td><a href="{{ @breadcrumbs }}/{{ @fields.id }}"><i class="material-symbols-outlined">edit</i></td>
				<td>{{ @fields._section }}</td>
				<td>{{ @fields._type }}</td>
				<td>{{ @fields._sql_type }}</td>
				<td>{{ @fields._label }}</td>
				<td>{{ @fields._name }}</td>
				<td>{{ @fields._idx }}</td>
				<td>{{ @fields._length }}</td>
				<td>{{ @fields._required }}</td>
				<td>{{ @fields._value }}</td>
				<td>{{ @fields._class }}</td>
				<td>{{ @fields._style }}</td>
				<td>{{ @fields._event }}</td>
				<td>{{ @fields._function }}</td>
				<td>{{ @fields._placeholder }}</td>
				<td>{{ @fields._joins }}</td>
				<td>{{ @fields._order }}</td>
				<td>{{ @fields._visible }}</td>
				<td>{{ @fields._mobile }}</td>
				<td><a href="{{ @breadcrumbs }}/delete/{{ @fields.id }}"><i class="material-symbols-outlined">delete</i></a></td>
				</check>
			</tr>	
		</repeat>
		</tbody>
	</table>		
	</true>
	<false>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
				<tr class="w3-deep-orange">
					<th>section</th>
					<th>order</th>
					<th>label/id/type</th>
					<th></th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @schema }}" value="{{ @fields }}">
			<tr >
				<td onclick="window.document.location='/admin/structure/{{ @fields.id }}';" style="cursor: pointer;">{{ @fields._section }}</td>
				<td align="center">{{ @fields._order }}</td>
				<td>{{ @fields._label }}<br>{{ @fields._idx }}<br>{{@@fields._type}}</td>
				<td><a href="{{ @breadcrumbs }}/delete/{{ @fields.id }}"><i class="bi-trash"></i></a></td>
			</tr>	
		</repeat>
		</tbody>
		</table>	
	</false>
	</check>
</div>

