<div class="w3-container">
	<h3>{{ @i18n_users }}</h3>	
	<check if="{{@isMobile==0}}">
	<true>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
					<tr class="w3-lime">
					<th> </th>
					<th>UserName</th>
					<th>Company</th>
					<th>UserType</th>
					<th>Created_at</th>
					<th>Updated_at</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @users }}" value="{{ @user }}">
			<tr>
				<td><a href="admin/users/{{ @user.id }}"><i class="material-icons">edit</i></a></td>
				<td>{{ @user.username }}</td>
				<td>{{ @user.company }}</td>
				<td><check if="@user.user_type===100"><true><em>Administrator</em></true>
				<false><check if="@user.user_type===10"><true><em>Superuser</em></true><false>Viewer</false></check></false></check></td>
				<td>{{ @user.created_at }}</td>
				<td>{{ @user.updated_at}}</td>
			</tr>	
		</repeat>
		</tbody>
	</table>
	</true>	
	<false>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
					<tr class="w3-lime">
					<th>UserName</th>
					<th>Company<br>User Type</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @users }}" value="{{ @user }}">
			<tr onclick="window.document.location='admin/users/{{ @user.id }}';" style="cursor: pointer;">
				<td>{{ @user.username }}</td>
				<td>{{ @user.company }}<br>
					<check if="@user.user_type===100">
						<true><em>Administrator</em></true>
						<false>
						<check if="@user.user_type===10">
							<true><em>Superuser</em></true>
							<false>Viewer</false>
						</check>
						</false>
					</check>
				</td>
			</tr>	
		</repeat>
		</tbody>
	</table>
	</false>
	</check>
</div>

