<div class="w3-container">
    <check if="{{ isset(@error_msg) }}">
    <true>
	<div class="w3-container w3-red">
        {{ @error_msg | raw }}
	</div>
    </true>
    </check>
    <check if="{{ isset(@pass_msg) }}">
    <true>
	<div class="w3-container w3-green w3-padding-16">
	{{ @pass_msg | raw }}
	</div>
    </true>
    </check>		 
    <h2>
        <a href="{{@breadcrumbs}}"><i class="material-symbols-outlined">arrow_back</i></a>
        {{@sectionName}} &nbsp; &nbsp;
        <check if="{{ !isset(@POST.new) }}">
            <a href="{{@breadcrumbs}}/delete/{{@POST.id}}"><i class="material-symbols-outlined" title="Delete">delete</i></a>
        </check>
        
    </h2>
<form action="" method="post" class="w3-container" enctype="multipart/form-data">
        <repeat group="{{@groupdata}}" value="{{@stru}}">
            <check if="{{@stru._name<>'id'}}">
            <true>
                    <check if="{{@stru._visible == 'YES'}}">
                        <label>{{@stru._label}}</label>  
                    </check>
                    <check if="{{@stru._type =='text' or @stru._type=='password'  or @stru._type=='email' or @stru._type=='button'}}">
                        <input class="w3-input" type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}" {{ @stru._event }}="{{ @stru._function }}" size="{{@stru._length}}" placeholder="{{@stru._placeholder}}" style="{{ @stru._style }}" {{@stru._required}}/> <p>
                    </check>
                    <check if="{{@stru._type =='number'}}">
                        <input class="w3-input" type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}" {{ @stru._event }}="{{ @stru._function }}" size="{{@stru._length}}" placeholder="{{@stru._placeholder}}" pattern="[0-9]*" style="{{ @stru._style }}" {{@stru._required}}/> <p>
                    </check>
                    <check if="{{@stru._type=='date'}}">
                        <input class="w3-input {{ @stru._class }}" type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}" {{ @stru._event }}="{{ @stru._function}}" size="{{@stru._length}}" style="{{@stru._style}}" value="{{ @today_mdY }}" {{ @stru._required }}/></h4> <p>
                    </check>
                    <check if="{{@stru._type=='tel'}}">
                    <input class="w3-input {{ @stru._class }}" type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}" {{ @stru._event}}="{{ @stru._function}}" size="{{@stru._length}}" placeholder="{{@stru._placeholder}}" {{ @stru._required}}/></h4> <p>
                    </check>
                    <check if="{{@stru._type=='select'}}">
                        <select class="w3-select" name="{{@stru._name}}" id="{{@stru._idx}}" style="width:150px;" >
                            <repeat group="{{ explode(',',@stru._value) }}" value="{{@opti1}}">
                                <option value="{{@opti1}}" <check if="{{@stru._placeholder==@opti1}}">selected</check>><h4>{{@opti1}}</h4>
                            </repeat>
                        </select>
                        <p>
                    </check>
                    <check if="{{@stru._type=='radio'}}">
                        <br>
                        <repeat group="{{explode(',',@stru._value)}}" value="{{@opti2}}">
                            <input class="w3-radio"type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}" value="{{@opti2}}"> &nbsp; {{@opti2}} &nbsp; 
                        </repeat>
                        </h4>
                        <p>
                    </check>
                    <check if="{{ @stru._type=='checkbox'}}">
                        <repeat group="{{explode(',',@stru._value)}}" value="{{@opti2}}">
                            <input class="w3-checkbox"type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}" value="{{@opti2}}"> &nbsp; {{@opti2}} &nbsp; 
                        </repeat>
                        </h4>
                        <p>
                    </check>
                    <check if="{{@stru._type=='textarea' }}">
                        <textarea class="w3-input" cols="40" rows="5" name="{{@stru._name}}" id="{{@stru._idx}}">{{@stru._value}}</textarea>
                        </h4>
                        <p>
                    </check>
                    <check if="{{@stru._type=='join' }}">
                        <select class="w3-select" name="{{@stru._name}}" id="{{@stru._idx}}" style="width:300px">
                            <option>
                            <repeat group="{{ @joinFields}}" value="{{@joinF}}">
                                <option value="{{@joinF.id}}">{{@joinF.linked}}
                            </repeat>
                        </select>
                        <p>
                    </check>
                    <check if="{{@stru._type=='params' }}">
                        <check if="{{isset(@params[@stru._name])}}">
                            <input type="hidden" name="{{@stru._name}}" id="{{@stru._idx}}" value="{{ @params[@stru._name]}}">
                        </check>
                    </check>
                    <check if="{{@stru._type=='file' }}">
                        <check if="{{ !is_null(@uploadFiles) }}">
                            <br>
                            <repeat group="{{ @uploadFiles }}" value="{{ @ufile }}" key="{{ @ukey }}">
                                    <li>
                                        <a href="{{ @ufile.uploadFile }}"> {{ @ufile.originalFile }}</a> 
                                    </li>
                            </repeat>
                            <br>
                        </check>
                        <p>
                        <input type="{{@stru._type}}" name="{{@stru._name}}" id="{{@stru._idx}}">
                    </check>
                <p>
            </true>
            </check>
        </repeat>
        <input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
        <check if="{{ isset(@POST.new) }}">
        <true>
		<input type="hidden" name="new" value="new" />
        </true>
        <false>
		<input type="hidden" name="edit" value="edit" />
		<input type="hidden" name="id" value="{{@POST.id}}" />
	</false>
        </check>        
        <input type="hidden" name="schema" value="{{@sectionName}}" />
	<br><br>
        <input class="w3-button w3-green" type="submit" value="{{ @i18n_submit }}">
</form>
</div>

<script>

var postObj = {{json_encode(@POST) }};

Object.keys(postObj).forEach(function (item) {
    var d = item;
    var field = document.getElementById(d);
    if (field != null) {
        field.value = postObj[item];
    }
    
	console.log(item+':'+postObj[item]); // value
});
</script>
