<div class="w3-container">
	<h3><a href="/admin/apps"><i class="material-symbols-outlined">arrow_back</i></a> Section {{ ucfirst(@sectionName) }}<a href="{{@breadcrumbs}}/new"><i class="material-symbols-outlined">add_circle</i></a></h3>	
	<table class="w3-table w3-hoverable" id="list">
	<thead>
		<tr class="w3-deep-orange">
		<th></th>
            <repeat group="{{@headers}}" key="{{@key}}" value="{{@cols}}">
				<check if="{{ @cols != 'id' }}">
					<th>{{ @cols }}</th>
				</check>
			</repeat>
		<th></th>
		</tr>
	</thead>
	<tbody>
		<repeat group="{{ @groupdata }}" value="{{ @rows }}" key="{{@krow}}">
			<tr>
				<td><a href="{{@breadcrumbs}}/edit/{{@rows.id}}"><i class="material-symbols-outlined">edit</i></a></td>
				<repeat group="{{@rows}}" value="{{@cols}}" key="{{@keys}}">
					<check if="{{ @keys != 'id' }}">
						<td>{{@cols}}</td>
					</check>
				</repeat>
				<check if="{{ strpos(@breadcrumbs,'units') !=0 }}">
					<td><a href="{{@breadcrumbs}}/show/{{@rows.id}}"><i class="material-symbols-outlined">barcode</i></a></td>
				</check>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>