<div class="table-responsive">
	<h3>{{ @sectionName }}  <a href="{{@breadcrumbs}}/new"><i class="bi-plus"></i></a></h3>	
	<table class="table table-hover table-striped table-bordered" id="list" style="width:95%; margin-left:10px;">
			<thead>
				<tr class="bg-secondary">
                  <repeat group="{{@headers}}" key="{{@key}}" value="{{@cols}}">
					<th scope="col" onclick="sortTable({{@key}});">{{@cols}} <i class="bi-filter"></i></th>
				  </repeat>
				  <th>delete</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @groupdata }}" value="{{ @data }}">
			<tr onclick="window.document.location='{{@breadcrumbs}}/edit/{{@data.id}}';" style="cursor: pointer;">
				<repeat group="{{@data}}" value="{{@cols}}">
					<td>{{@cols}}</td>
				</repeat>
				<td align="center"><a href="{{@breadcrumbs}}/delete/{{@data.id}}"><i class="bi-trash"></i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>

