<div class="w3-container">
	<h3> Section {{ ucfirst(@sectionName) }} &nbsp; <a href="{{@breadcrumbs}}/new"><i class="material-symbols-outlined">add</i></a></h3>	
	<table class="w3-table w3-hoverable" id="list">
	<thead>
		<tr class="w3-deep-orange">
		<th></th>
            		<repeat group="{{@headers}}" key="{{@key}}" value="{{@cols}}">
				<check if="{{ @cols != 'id' }}">
					<th>{{ ucwords(@cols) }} <b onmouseover="this.style.cursor='pointer'" onclick="sortTable({{@key}})" style="font-size:18px;">&#8597</b></th>
				</check>
			</repeat>
		<th></th>
		<th></th>
		</tr>
	</thead>
	<tbody>
		<repeat group="{{ @groupdata }}" value="{{ @rows }}" key="{{@krow}}">
			<tr>
				<td><a href="{{@breadcrumbs}}/edit/{{@rows.id}}"><i class="material-symbols-outlined">edit</i></a></td>
				<repeat group="{{@rows}}" value="{{@cols}}" key="{{@keys}}">
					<check if="{{ @keys != 'id' }}">
						<td>{{@cols}}</td>
					</check>
				</repeat>
				<check if="{{ strpos(@breadcrumbs,'units') !=0 }}">
					<td><a href="{{@breadcrumbs}}/show/{{@rows.id}}"><i class="material-symbols-outlined">barcode</i></a> </td>
					<td><a href="/timeline/{{@rows.units}}"><i class="material-symbols-outlined">event</i></a></td>
				</check>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>
