<div class="w3-container">
    <check if="{{ isset(@error_msg) }}">
    <true>
	<div class="w3-container w3-red" id="form-status">
        {{ @error_msg | raw }}
	</div>
    </true>
    </check>
	<br><br>
	<form class=="w3-container" id="apiform" method="POST" action="/api/areas/{{ @uid }}">
	<input type="hidden" class="w3-input" name="uid" id="uid" value="{{ @uid }}">
	<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
	<input type="hidden" name="adding" value="true" />
	<select class="w3-input" name="area" id="area" style="height:80px; font-size:40px;">
	<option>
	<option value="Prep">Prep
	<option value="Sand">Sand
	<option value="Mask">Mask
	<option value="Rubber">Rubber
	<option value="Buff">Buff
	<option value="Paint">Paint
	<option value="Rework">Rework
	<option value="QC">QC
	<option value="Wrap">Wrap
	</select>
	<br><br>
	<input type="submit" id="mode" name="mode" value="Save" onClick="changeLabel();" style="font-size:40px; background-color:green; color:white;">
	</form>
</div> 

<script>

function changeLabel() {
	const button = document.getElementById("mode");
	const option = document.getElementById("area");
	console.log(option.value);
	if (option.value != '') {
		button.value = "Submitting...";
	}

var form = document.getElementById("apiform"),
        actionPath = "";
        formData = null;

    var xhr = new XMLHttpRequest();

    form.addEventListener("submit", (e) => {
        e.preventDefault();
        
        formData = new FormData(form);
        actionPath = form.getAttribute("action");
        xhr.open("POST", actionPath);
        xhr.send(formData);

xhr.onreadystatechange = function() {
  if (this.readyState === 4 && this.status === 200) {
    // Request successful
	console.log(this.responseText); 
	button.value="Data Sent!";
	setTimeout( () => { window.close() }, 3000);
  } else if (this.readyState === 4) {
    // Request failed
    	console.error('Error: ' + this.status);
  }
};

    }, false);

}  

</script>
