<div class="w3-container">

<div class="w3-row w3-center">
	<h1 class="w3-xxlarge">WO Number {{ @wonumber }}</h1>
	<h2>SAP Number {{ @sapnumber }}</h2>
</div>
<div class="w3-row w3-center">
	<img src="ui/images/barcode.png">
</div>
<div class="w3-row w3-center">
<h3>
	Primary:{{ @colors[0]['primaryColor']}}	| 
	Second: {{ @colors[0]['secondColor']}} | 
	Third:{{ @colors[0]['thirdColor']}} | <br>
	Roof: {{ @colors[0]['roofColor'] }} |
	Linex: {{ @colors[0]['linexColor']}}
</h3>
</div>
<div class="w3-container w3-padding-64">
</div>
<div class="w3-center">
	<img src="ui/images/qrcode_areas.png" width="400">
	Scan the code and select the area from the page
</div>
<!--
<div class="w3-row w3-center">
  <div class="w3-third w3-center">
	<h3>Prep</h3>
	<img src="ui/images/qrcode_prep.png" width="100">
  </div>
  <div class="w3-third w3-center">
	<h3>Sand</h3>
	<img src="ui/images/qrcode_sand.png" width="100">
  </div>
  <div class="w3-third w3-center">
	<h3>Rework</h3>
	<img src="ui/images/qrcode_rework.png" width="100">
  </div>
</div>

<div class="w3-row w3-center">
  <div class="w3-third w3-center">
	<h3>Paint</h3>
	<img src="ui/images/qrcode_paint.png" width="100">
  </div>
  <div class="w3-third w3-center">
	<h3>Buff</h3>
	<img src="ui/images/qrcode_buff.png" width="100">
  </div>
  <div class="w3-third w3-center">
	<h3>QC</h3>
	<img src="ui/images/qrcode_qc.png" width="100">
  </div>
</div>

<div class="w3-row w3-center">
  <div class="w3-third w3-center">
	<h3>Rubber</h3>
	<img src="ui/images/qrcode_rubber.png" width="100">
  </div>
  <div class="w3-third w3-center">
	<h3>Wrap</h3>
	<img src="ui/images/qrcode_wrap.png" width="100">
  </div>
  <div class="w3-third w3-center">
	<h3>Mask</h3>
	<img src="ui/images/qrcode_mask.png" width="100">
  </div>
</div>
//-->

</div> 
