<div class="w3-container">
	<h2 class="prod-header">{{ @i18n_lostpassword }}</h2>
	<check if="{{ isset(@message) }}">
	<true>
		<div class="w3-container w3-red">
		{{ @message | raw }}
		</div>
	</true>
	<false>
		<check if="{{ isset(@SESSION.message) }}">
		<true>
		<div class="alert alert-success" role="alert">
			{{ @SESSION.message | raw }}
		</div>
		</true>
		</check>
	</false>
	</check>
	<form action="" method="post" class="w3-container">
		<label>{{ @i18n_password }}</label>
		<input type="password" class="w3-input" data-validation="pw_or_empty" name="new_password" id="new_password" />
		<label>{{ @i18n_password_conf }}</label>
		<input type="password" class="w3-input" name="confirm" id="confirm" />
		<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
		<input class="w3-button w3-green" name="reset_pw" value="{{ @i18n_changepassword }}" type="submit">
	</form>
</div>
