<div class="w3-container">
	<h2>{{ @i18n_create_user }}</h2>
	<check if="{{ isset(@message) }}">
	<true>
		<div class="w3-container w3-red">
			{{ @message | raw }}
		</div>
	</true>
	</check>
	<form action="" method="post" class="w3-container">
		<label>{{ @i18n_username }}</label>
		<input type="text" class="w3-input" name="username" id="username" required />
		<label">{{ @i18n_email }}</label>
		<input type="email" class="w3-input" data-validation="email" value="{{ @POST.email }}" name="email" required />
		<label>{{ @i18n_password }}</label>
		<input type="password" class="w3-input" data-validation="length"  data-validation-length="min8" name="password" id="password" required/>
		<label>{{ @i18n_password_conf }}</label>
		<input type="password" class="w3-input" name="confirm" id="confirm" required />
		<p></p>
		<br>
		<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
		<input class="w3-button w3-green" value="{{ @i18n_submit }}" name="create" id="create" type="submit">
	</form>
</div>
