<h2>{{ @i18n_changepassword }}</h2>

<check if="{{ isset(@message) }}">
	<true>
	<div class="w3-{{ @alert_type }}">
	{{ @message | raw }}
	</div>
	</true>
</check>

<div class="w3-container">
	<form action="" method="post" class="w3-container">
		<label>{{ @i18n_password }}</label>
		<input type="password" class="w3-input" id="password" name="password" required />
		<label>{{ @i18n_password_conf }}</label>
		<input type="password" class="w3-input" id="confirm" name="confirm" required />
		<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
		<input type="hidden" name="edit" value="edit" />
		<input type="hidden" name="user_id" value="{{ @POST.id }}" />
		<p></p>
		<br>
		<input class="w3-button w3-green" value="{{ @i18n_submit }}" name="create" id="create" type="submit">
	</form>
</div>

