<div class="w3-container">
	<h1>{{ @i18n_login }} </h1>
	<check if="{{ isset(@message) }}">
	<true>
		<div class="w3-container w3-red">
			{{ @i18n_error}}	
			{{ @message | raw }}
		</div>
	</true>
	<false>
		<check if="{{ isset(@SESSION.login_message) }}">
		<true>
			<div class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">{{ @i18n_msg }}</span>
			{{ @SESSION.login_message | raw }}
			</div>
		</true>
		</check>
	</false>
	</check>
	<form action="" method="post">
		<label>{{ @i18n_username }}</label>
		<input class="w3-input" type="text" placeholder="{{ @i18n_username }}" name="username" id="username" required autofocus />
		<label>{{ @i18n_password }}</label>
		<input class="w3-input" type="password" placeholder="{{ @i18n_password }}" name="password" id="password" required />
		<input type="hidden" name="login" value="login" />
		<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
		<p></p>
		<input class="w3-button w3-green" name="submit" value="{{ @i18n_login }}" type="submit">
	</form>
	<p></p>
	<a class="w3-button w3-gray" href="register">{{ @i18n_register }}</a>
	<a class="w3-button w3-orange" href="lostpassword">{{ @i18n_lostpassword }}</a>
</div>
