<div class="w3-container">
<h2>{{ @i18n_register }}</h2>
	<p>{{ @i18n_send_registration_mail_again }}</p>
	<form action="{{ @BASE }}" method="post" class="">
		<label>{{ @i18n_email }} </label>
		<input type="text" class="w3-input" placeholder="Email" name="email" id="email" required autofocus />
		<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
		<input type="hidden" name="sendmail" value="sendmail" />
		<input class="w3-button w3-green" name="reset_pw" value="{{ @i18n_resend_activation_mail }}" type="submit">
		</div>
	</form>
</div>
