<div class="w3-container">
	<h3>{{ @i18n_company }} <a href="/admin/company/new"><i class="material-icons">add</i></a></h3>	
	<check if="{{@isMobile==0}}">
		<true>
			<table class="w3-table w3-hoverable" id="list">
				<thead>
						<tr class="w3-lime">
						<th></th>
						<th>Name</th>
						<th>shortname</th>
						<th>slogan</th>
						<th>created_at</th>
						<th>updated_at</th>
					</tr>
				</thead>
			<tbody>
			<repeat group="{{ @company }}" value="{{ @comp }}">
				<tr>
					<td><a href="admin/company/{{ @comp.id }}"><i class="material-icons">edit</i></a>
					<td>{{ @comp.Name }}</td>
					<td>{{ @comp.shortname }}</td>
					<td>{{ @comp.slogan }}</td>
					<td>{{ @comp.created_at }}</td>
					<td>{{ @comp.updated_at}}</td>
				</tr>	
			</repeat>
			</tbody>
		</table>
		</true>
		<false>
			<table class="w3-table w3-hoverable" id="list">
				<thead>
					<tr class="w3-lime">
					<th>Name</th>
					<th>slogan</th>
					</tr>
				</thead>
			<tbody>
			<repeat group="{{ @company }}" value="{{ @comp }}">
				<tr onclick="window.document.location='admin/company/{{ @comp.id }}';">
					<td><b>{{ @comp.Name }}</b><br>{{ @comp.shortname }}</td>
					<td>{{ @comp.slogan }}</td>
				</tr>	
			</repeat>
			</tbody>
		</table>
		</false>
	</check>
</div>

