<div class="table-responsive">
	<h1>{{ @i18n_company }} <a href="/admin/company/new"><i class="bi-plus"></i></a></h1>	
	<table class="table table-hover table-striped table-bordered" id="list" style="width:95%; margin-left:10px;">
			<thead>
					<tr class="bg-secondary">
					<th scope="col">fullname</th>
					<th scope="col">shortname</th>
					<th scope="col">slogan</th>
					<th scope="col">created_at</th>
					<th scope="col">updated_at</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @company }}" value="{{ @comp }}">
			<tr onclick="window.document.location='admin/company/{{ @comp.id }}';" style="cursor: pointer;">
				<td>{{ @comp.fullname }}</td>
				<td>{{ @comp.shortname }}</td>
				<td>{{ @comp.slogan }}</td>
				<td>{{ @comp.created_at }}</td>
				<td>{{ @comp.updated_at}}</td>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>

