<div class="w3-container">
    <check if="{{ isset(@error_msg) }}">
    <true>
	<div class="w3-container w3-red">
	{{ @error_msg | raw }}
	</div>
    </true>
    </check>
    <check if="{{ isset(@pass_msg) }}">
        <true>
	<div class="w3-container w3-red">
        {{ @pass_msg | raw }}
        </div>
    </true>
    </check>		 
    <h2>
        <a href="{{ @breadcrumbs }}"><i class="material-icons">arrow_back</i></a>{{@apps}}
        <check if="{{ !isset(@POST.new) }}">
            <a href="{{ @breadcrumbs }}/delete/{{ @POST.id }}"><i class="material-icons" title="Delete">delete</i></a>
        </check>
    </h2>
    <form action="" method="post" class="w3-container">
                    <label>App Name:</label>
                    <input class="w3-input" list="Names" name="Name" id="Name" value="{{ @POST.Name}}"required>
                    <datalist id="Names" style="width:150px;">
                        <repeat group="{{@apps_dd}}" value="{{@vals}}">
                            <option value="{{@vals.Name}}">
                        </repeat>
                    </datalist>
                    <p>
                    <label>Company: </label>
		    <select class="w3-select" name="_company" id="_company">
                        <option>
                        <repeat group="{{ @company }}" key="{{ @keys }}" value="{{ @vals }}">
                            <option value="{{ @vals.id }}" <check if="{{ @POST._company==@vals.id}}"> selected</check>>{{@vals.Name}}
                        </repeat>
                    </select>
        <!--<div class="col-4">
            <h2>More Data</h2>
                <p>Leave blank to keep the application open</p>
            </div>
        -->
         	<input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
                <check if="{{ isset(@POST.new) }}">
                <true>
                	<input type="hidden" name="new" value="new" />
                	<input type="hidden" name="_user_type" value="{{@SESSION.user_type}}" />
                </true>
                <false>
			<input type="hidden" name="edit" value="edit" />
		</false>
                </check>        
                <input type="hidden" name="id" value="{{ @POST.id }}" />
		<p>
		<br>
                <input class="w3-button w3-green" type="submit" value="{{ @i18n_submit }}">
    </form>
</div>
