<div class="w3-container">
	<h3>{{ @i18n_apps }}  <a href="{{ @breadcrumbs }}/new"><i class="material-symbols-outlined">add_circle</i></a></h3>	
	<check if="{{@isMobile==0}}">
	<true>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
				<tr class="w3-deep-orange">
					<th>ID</th>
					<th>Name</th>
					<th>Company ID</th>
                    <th>Company</th>
					<th>Created at</th>
					<th>Updated at</th>
			        <th>Script</th>
					</tr>
			</thead>
		<tbody>
		<repeat group="{{ @apps }}" value="{{ @fields }}">
			<tr {{ @fields.Name == 'menus'?'bgcolor=silver':'' }}>
				<td>
					<check if="{{ @fields.Name != 'menus'}}">
						<a href="{{ @breadcrumbs }}/{{ @fields.id }}"><i class="material-symbols-outlined">edit</i></a>
					</check>
				</td>
				<td>{{ @fields.Name }}</td>
				<td>{{ @fields._company }}</td>
				<td>{{ @fields.Company }}</td>
				<td>{{ @fields._created_at }}</td>
				<td>{{ @fields._updated_at }}</td>
				<!--<td><a href="{{ @breadcrumbs }}/delete/{{ @fields.id }}" style="cursor: pointer;"><i class="bi-trash"></i></a></td>-->
				<td align="center"><a href="/admin/script/{{@fields.Name}}"><i class="material-symbols-outlined">text_snippet</i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>		
	</true>
	<false>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
				<tr class="w3-deep-orange">
					<th></th>
					<th>App name</th>
					<th>Company</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @apps }}" value="{{ @fields }}">
			<tr >
				<td onclick="window.document.location='{{ @breadcrumbs }}/{{ @fields.id }}';" style="cursor: pointer;"><i class="material-symbols-outlined">edit</i></td>
				<td align="center">{{ @fields.Name }}</td>
				<td>{{ @fields.Company }}</td>		
			</tr>	
		</repeat>
		</tbody>
		</table>	
	</false>
	</check>
</div>

