<div class="w3-container">
	<h3>{{ @i18n_apps }}  <a href="{{ @breadcrumbs }}/new"><i class="material-icons">add_circle</i></a></h3>	
	<check if="{{@isMobile==0}}">
	<true>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
				<tr class="w3-deep-orange">
					<th>ID<i class="bi-filter"></i></th>
					<th>Name<i class="bi-filter"></i></th>
					<th>Company ID<i class="bi-filter"></i></th>
                    			<th>Company<i class="bi-filter"></i></th>
					<th>Created at<i class="bi-filter"></i></th>
					<th>Updated at<i class="bi-filter"></i></th>
			                <th>Script</th>
					<th>Schema</th>
					<th>Sections</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @apps }}" value="{{ @fields }}">
			<tr {{ @fields.Name == 'menus'?'bgcolor=silver':'' }}>
				<td><a href="{{ @breadcrumbs }}/{{ @fields.id }}"><i class="material-icons">edit</i></td>
				<td>{{ @fields.Name }}</td>
				<td>{{ @fields._company }}</td>
				<td>{{ @fields.Company }}</td>
				<td>{{ @fields._created_at }}</td>
				<td>{{ @fields._updated_at }}</td>
				<!--<td><a href="{{ @breadcrumbs }}/delete/{{ @fields.id }}" style="cursor: pointer;"><i class="bi-trash"></i></a></td>-->
				<td align="center"><a href="/admin/script/{{@fields.Name}}"><i class="material-icons">text_snippet</i></a></td>
				<td align="center"><a href="/admin/schema"><i class="material-icons">schema</i></a></td>
				<td align="center"><a href="/sections/{{@fields.Name}}"><i class="material-icons">list</i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>		
	</true>
	<false>
		<table class="w3-table w3-hoverable" id="list">
			<thead>
				<tr class="w3-deep-orange">
					<th></th>
					<th>App name</th>
					<th>Company</th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @apps }}" value="{{ @fields }}">
			<tr >
				<td onclick="window.document.location='{{ @breadcrumbs }}/{{ @fields.id }}';" style="cursor: pointer;"><i class="material-icons">edit</i></td>
				<td align="center">{{ @fields.Name }}</td>
				<td>{{ @fields.Company }}</td>		
			</tr>	
		</repeat>
		</tbody>
		</table>	
	</false>
	</check>
</div>

