<div class="table-responsive">
	<h1>{{ @i18n_structure }}  <a href="/admin/structure/new"><i class="bi-plus"></i></a></h1></h1>	
	<table class="table-responsive table-hover table-striped table-bordered" id="list" style="width:95%; margin-left:10px;">
			<thead>
					<tr class="bg-secondary">
					<th scope="col">section</th>
					<th scope="col">type</th>
					<th scope="col">label</th>
					<th scope="col">name</th>
				<check if="{{@isMobile==1}}">
					<th scope="col">id</th>
                    <th scope="col">length</th>
                    <th scope="col">required</th>
                    <th scope="col">value</th>
                    <th scope="col">class</th>
					<th scope="col">style</th>
                    <th scope="col">function</th>
					<th scope="col">placeholder</th>
				</check>
					<th scope="col">order</th>
					<th scope="col"></th>
				</tr>
			</thead>
		<tbody>
		<repeat group="{{ @structure }}" value="{{ @stru }}">
			<tr >
				<td onclick="window.document.location='/admin/structure/{{ @stru.id }}';" style="cursor: pointer;">{{ @stru._section }}</td>
				<td>{{ @stru._type }}</td>
				<td>{{ @stru._label }}</td>
				<td>{{ @stru._name }}</td>
			<check if="{{@isMobile==1}}">
				<td>{{ @stru._idx }}</td>
                <td>{{ @stru._length }}</td>
                <td>{{ @stru._required }}</td>
                <td>{{ @stru._value }}</td>
                <td>{{ @stru._class }}</td>
				<td>{{ @stru._style }}</td>
                <td>{{ @stru._function }}</td>
				<td>{{ @stru._placeholder }}</td>
			</check>
				<td>{{ @stru._order }}</td>
				<td><a href="/admin/structure/delete/{{ @stru.id }}"><i class="bi-trash"></i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>

