<!DOCTYPE html>
<html lang="en">
	<head>
	<title>diazconsulting.llc</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="{{@SCHEME.'://'.@HOST.@BASE.':'.@PORT.'/'}}">
	<link rel="stylesheet" href="/ui/css/w3.css">
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">//-->
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	
  </head>

  <body>
	<div class="w3-bar w3-black w3-mobile">
		<a href="/" class="w3-bar-item w3-button"><i class="material-symbols-outlined">home</i></a>
		<check if="{{ isset(@SESSION.logged_in) && @SESSION.logged_in }}">
		<true>
			<check if="{{ @SESSION.user_type>=1 }}">
				<repeat group="{{@menurows}}" value="{{@rows}}">
					<div class="w3-dropdown-hover">
					<button class="w3-button">{{ @rows.section }}</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<repeat group="{{@menuitem}}" value="{{@item}}">
						<check if="{{ @rows.section == @item.section}}">
							<a class="w3-bar-item w3-button" href="{{@item.url}}">{{@item.item}}</a>
						</check>
						</repeat>
					</div>
					</div>
				</repeat>
			</check>
				<!--<check if="{{ @SESSION.user_type>=10 }}">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Bowline
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="nav-link" href="/tenant/apartments">{{ @i18n_apartments }}</a>
							<a class="nav-link" href="/tenant/payments">{{ @i18n_payments }}</a>				
							<a class="nav-link" href="/tenant/expenses">{{ @i18n_expenses }}</a>
						</div>
					</li>
				</check>//-->
			<check if="{{ @SESSION.user_type==100 }}">
				<div class="w3-dropdown-hover">
					<button class="w3-button"><i class="material-symbols-outlined" title="Administrator">settings</i></button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a class="w3-bar-item w3-button" href="/admin/users">{{ @i18n_users }}</a>
						<a class="w3-bar-item w3-button" href="/admin/company">{{ @i18n_company }}</a>
						<a class="w3-bar-item w3-button" href="/admin/apps">{{ @i18n_apps }}</a>
						<a class="w3-bar-item w3-button" href="/admin/schema">{{ @i18n_schema }}</a>
						<a class="w3-bar-item w3-button" href="/sections/menus">{{ @i18n_menus }}</a>
					</div>
				</div>
				<div class="w3-dropdown-hover">
					<button class="w3-button"><i class="material-symbols-outlined" title="Apps">database</i></button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<repeat group="{{@datarows}}" value="{{@rows}}">
							<a class="w3-bar-item w3-button" href="/sections/{{ strtolower(@rows.item) }}">{{@@rows.item}}</a>
						</repeat>
					</div>
				</div>
			</check>
			<a class="w3-bar-item w3-button" href="/user/update"><i class="material-symbols-outlined" title="Reset Password">lock_reset</i></a>
			<a class="w3-bar-item w3-button w3-gray w3-right" href="/logout"><i class="material-symbols-outlined" title="Logout">logout</i></a>
			<input class="w3-bar-item w3-input w3-light-gray" type="text" id="search" onkeyup="searchTable();" placeholder="Search">
 		</true>
		<false>
			  <a href="/login" class="w3-bar-item w3-button w3-green w3-right"><i class="material-symbols-outlined" title="Login">login</i></a>
		</false>
		</check>
	</div>
	
	<!-- Page Content -->
