<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="{{@SCHEME.'://'.@HOST.@BASE.':'.@PORT.'/'}}">
	<title>diaz.works</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/ui/css/theme.css" type="text/css" />
  </head>

  <body>
	 <!-- navigation -->
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">d</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	    <!-- dropdown -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			<check if="{{ isset(@SESSION.logged_in) && @SESSION.logged_in }}">
			<true>
				<check if="{{ @SESSION.user_type>1 }}">
					<check if="{{ @SESSION.user_type>=10 }}">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Bowline
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="nav-link" href="/tenant/apartments">{{ @i18n_apartments }}</a>
							<a class="nav-link" href="/tenant/payments">{{ @i18n_payments }}</a>				
							<a class="nav-link" href="/tenant/expenses">{{ @i18n_expenses }}</a>
						</div>
					</li>
					</check>
				</check>
				<check if="{{ @SESSION.user_type==100 }}">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Admin
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/admin/users">{{ @i18n_users }}</a>
							<a class="dropdown-item" href="/admin/company">{{ @i18n_company }}</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/admin/apps">{{ @i18n_apps }}</a>
							<a class="dropdown-item" href="/admin/schema">{{ @i18n_schema }}</a>
						</div>
					</li>
				</check>
				<li class="nav-item">
					<a class="nav-link" href="/user/update">{{ @i18n_reset_pw_submit }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">{{ @i18n_logout }}</a>
				</li>
		  	</true>
			<false>
			  <li class="nav-item">
				  <a href="/login" class="nav-link">{{ @i18n_login }}</a>
			  </li>
			</false>
			</check>
			</li>
		  </ul>
		</div>
	  </nav>
	  
	

	<!-- Page Content -->
